<?xml version="1.0" encoding="utf-8" ?>
<configuration>

    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2" />
    </startup>
  
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpsBinding_ICiaService">
                    <security mode="Transport" />
                </binding>
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="https://localhost:44356/CiaService.svc" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpsBinding_ICiaService" contract="CIAService.ICiaService"
                name="BasicHttpsBinding_ICiaService" />
        </client>
    </system.serviceModel>
</configuration>